.family_item {
	display: flex;
	padding: 15px;
	background-color: white;
	border-radius: 15px;
	margin-top: 15px;
	box-shadow: 0 2px 20px black;
}

.family_item-child {
	margin: auto;
}

.family_item-button {
	border: none;
	border-radius: 10px;
	padding: 15px;
	margin: 10px;
	box-shadow: 0 2px 15px black;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	font-size: 16px;
	background-color: rgb(11, 205, 240);
	transition: all 400ms;
	cursor: pointer;
	outline: none;
}

.family_item-button-approve{
	border: none;
	border-radius: 10px;
	padding: 5px;
	margin: 10px;
	box-shadow: 0 2px 15px black;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	font-size: 16px;
	background-color: white;
	transition: all 400ms;
	cursor: pointer;
	outline: none;
}

.family_item-button:hover {
	transform: translateY(-3px);
	box-shadow: 0 1px 10px black;
}

.family_item-button:active {
	transform: translateY(1px);
}
